<template>
    <div class="busy">
        <svg class="lds-gear" width="200px"  height="200px"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" style="background: none;">
            <g transform="translate(50 50)">
                <g transform="rotate(273.474)">
                    <animateTransform attributeName="transform" type="rotate" values="0;360" keyTimes="0;1" dur="2.5s" repeatCount="indefinite"></animateTransform>
                    <path d="M37.43995192304605 -6.5 L47.43995192304605 -6.5 L47.43995192304605 6.5 L37.43995192304605 6.5 A38 38 0 0 1 31.070237969796747 21.87784981437163 L31.070237969796747 21.87784981437163 L38.141305781662226 28.948917626237105 L28.948917626237105 38.14130578166222 L21.87784981437163 31.070237969796743 A38 38 0 0 1 6.5 37.43995192304605 L6.5 37.43995192304605 L6.500000000000001 47.43995192304605 L-6.499999999999995 47.43995192304606 L-6.499999999999996 37.43995192304606 A38 38 0 0 1 -21.877849814371626 31.070237969796747 L-21.877849814371626 31.070237969796747 L-28.9489176262371 38.141305781662226 L-38.14130578166222 28.948917626237105 L-31.070237969796743 21.87784981437163 A38 38 0 0 1 -37.43995192304605 6.5000000000000036 L-37.43995192304605 6.5000000000000036 L-47.43995192304605 6.500000000000004 L-47.43995192304606 -6.499999999999993 L-37.43995192304606 -6.499999999999994 A38 38 0 0 1 -31.070237969796747 -21.877849814371626 L-31.070237969796747 -21.877849814371626 L-38.141305781662226 -28.9489176262371 L-28.94891762623711 -38.14130578166222 L-21.877849814371633 -31.070237969796743 A38 38 0 0 1 -6.500000000000005 -37.43995192304605 L-6.500000000000005 -37.43995192304605 L-6.500000000000007 -47.43995192304605 L6.49999999999999 -47.43995192304606 L6.499999999999992 -37.43995192304606 A38 38 0 0 1 21.877849814371622 -31.07023796979675 L21.877849814371622 -31.07023796979675 L28.948917626237098 -38.141305781662226 L38.14130578166221 -28.94891762623711 L31.07023796979674 -21.877849814371633 A38 38 0 0 1 37.43995192304605 -6.500000000000007 M0 -20A20 20 0 1 0 0 20 A20 20 0 1 0 0 -20" fill="#353433"></path>
                </g>
            </g>
        </svg>

        <p>Data is being loaded. This may take some seconds...</p>
    </div>
</template>

<style lang="scss">
    .busy {
        text-align: center;
        padding-top: 20px;
    }
</style>
