<template>

  <div class="row no-gap">
    <div class="changepassword cell p-12">
      <h2>Change your Password for your Login</h2>
      <br>
          <div class="cell-12 cell-lg-4">

            <form id="changepasswordform" role="form">
              <input  type="password"
                      id="oldpassword"
                      name="oldpassword"
                      placeholder="Your old Password!"
                      v-model="oldPassword"
                      >
              <input  type="password"
                      id="newpassword"
                      name="newpassword"
                      placeholder="Your new Password!"
                      v-model="newPassword"
                      >
              <input  type="password"
                      id="newpassword2"
                      name="newpassword2"
                      placeholder="Confirm your new Password!"
                      v-model="newPassword2"
                      >
            </form>

          </div>
          <div class="cell-12 cell-lg-12 buttonchange">
            <button v-on:click="changePassword" class="button buttonchange success">Change your Password!</button>
          <br>
          </div>
    </div>
  </div>

</template>

<script>
import CAS from '@/services/CamundaApiService'
import { mapGetters } from 'vuex'

export default {
  data: function () {
    return {
      oldPassword: '',
      newPassword: '',
      newPassword2: ''
    }
  },
  mounted: function () {

  },
  watch: {

  },

  computed: {
    ...mapGetters({
      user: 'getUserData'
    })
  },

  methods: {

    changePassword: function () {
      var self = this
      var oldPassword = this.oldPassword
      var newPassword = this.newPassword
      var newPassword2 = this.newPassword2
      var userId = this.user.id
      if (newPassword === newPassword2) {
        CAS().put('/user/' + userId + '/credentials', { 'password': newPassword, 'authenticatedUserPassword': oldPassword })
          .then(() => {
            // console.log(res);
            Metro.notify.create('Password changed! Please Re-Login.', null, {
              cls: 'success',
              timeout: 3000
            })
            self.logout()
          })
          .catch((res) => {
            console.log(res)
            Metro.notify.create('Password could not be changes.', null, {
              cls: 'alert',
              timeout: 3000
            })
          })
      } else {
        Metro.notify.create('Your new password are not the same!', null, {
          cls: 'alert',
          timeout: 3000
        })
      }
    },

    logout: function () {
      this.$store.dispatch('logout').then(() => {
        this.$router.push({ name: 'login' })
      })
    }

  }
}
</script>

<style lang="scss">
.buttonchange {
  margin-bottom: 15px;
  margin-top: 15px;
}
#newpassword {
  margin-bottom: 15px;
  margin-top: 15px;
}
</style>
