<template>
  <busy-indicator v-if="processesLoaded === false"/>

  <div v-else class="bg-invert">
    <div class="dashboard px-3 pt-3">
      <div class="text-center text-left-lg">
        <h1 class="p-2">Dashboard</h1>
        <!-- <button v-on="tasksNr">click</button> -->
      </div>

      <div class="row">
        <div class="cell-lg-6 text-center p-8">

          <router-link :to="{name: 'task-index'}" class="no-decoration">
            <div class="circle">
              <h1 class="circle-content">{{ taskCount }}</h1>
            </div>
            <p class="circle-caption h1 text-center">Tasks</p>
          </router-link>

        </div>
        <div class="cell-lg-6 text-center p-8">

          <router-link :to="{name: 'process-index'}" class="no-decoration">
              <div class="circle">
                <h1 class="circle-content">{{userProcesses.length}}</h1>
              </div>
              <p class="circle-caption h1 text-center">Processes</p>

          </router-link>

        </div>
      </div>

      <div class="row p-2 bg-primary fg-invert processes active">
        <div class="cell-12 text-center text-left-lg">
          <h2>Active processes</h2>
        </div>
          <div v-if="userProcesses.length === 0" >
                          <p class="no-processes">You are currently in no process. Please contact an admin.</p>

          </div>
        <div v-else v-for="p in userProcesses" :key="p.id" class="cell-md cell-lg-6 cell-xl-4">
          <div class="card image-header fg-primary">
            <div
              class="card-header fg-invert bg-white"
              style="background-image: url(https://www.czechcollege.cz/wp-content/uploads/2015/07/Study-Website-Design-and-Development-Europe-420x280_c.jpg)"
            ></div>
            <div class="card-content p-2 bg-white">
              <h4>
                <a v-if="p.processDefinitionName !== null" class="p-1 card-title">{{ p.processDefinitionName }}</a>
                <a v-else class="p-1 card-title">{{ p.processDefinitionKey }}</a>
              </h4>

            </div>
            <div class="card-footer bg-white">
              <p class="fg-gray">Started on {{ Date.parse(p.startTime) | moment("DD.MM.YYYY") }}</p>
              <router-link :to="`/processes/${p.id}`">
                <button class="button secondary">Details</button>
              </router-link>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</template>

<script>
import CAS from '@/services/CamundaApiService'
import { mapGetters } from 'vuex'
import BusyIndicator from '@/views/BusyIndicator.vue'

export default {
  name: 'dashboard',
  data: function () {
    return {
      taskCount: 0,
      processCount: 0,
      userProcesses: [],
      processesLoaded: false
    }
  },
  computed: {
    ...mapGetters({
      user: 'getUserData'
    })
  },
  mounted: function () {
    // render process list
    this.countTasks()
    this.countProcess()
  },
  components: {
    BusyIndicator
  },
  methods: {
    /* tasksNr(e) {
      e.preventDefault();
      this.$store.dispatch("getTask");
      // .then(() => this.$router.push("/dashboard"))
      // .catch(err => console.log(err));
    } */
    countTasks: function () {
      var self = this
      var userId = self.user.id
      CAS().get('/task?assignee=' + userId)
        .then(function (res) {
          self.taskCount = res.data.length
          // self.taskCount = res.data.count;
          // console.log(res.data.count);
        })
        .catch(function (res) {
          console.log(res)
        })
    },
    countProcess: function () {
      var self = this
      CAS().get('/history/process-instance?unfinished=true&sortBy=startTime&sortOrder=desc')
        .then(async function (res) {
          var processes = res.data
          var userProcesses = []
          for (const process of processes) {
            var id = process.id
            var defId = process.processDefinitionId
            var processDiagrams = await CAS().get('/process-definition/' + defId + '/xml')
            var bpmn = processDiagrams.data.bpmn20Xml
            if (window.DOMParser) {
              var parser = new DOMParser()
              var xmlDoc = parser.parseFromString(bpmn, 'text/xml')
            } else {
              var xmlDoc = new ActiveXObject('Microsoft.XMLDOM')
              xmlDoc.async = false
              xmlDoc.loadXML(bpmn)
            }
            var tasks = xmlDoc.getElementsByTagName('bpmn2:userTask')
            for (const task of tasks) {
              var assignee = task.getAttribute('camunda:assignee')
              if (assignee !== null && assignee.startsWith('${') && assignee.endsWith('}')) {
                var vars = await CAS().get('/process-instance/' + id + '/variables')
                assignee = assignee.substr(2).slice(0, -1)
                if (vars.data.hasOwnProperty(assignee)) {
                  assignee = vars.data[assignee].value
                }
              }
              var userId = self.user.id
              if (assignee === userId) {
              // check the user is assigned to at least one task in the process
                userProcesses.push(process)
                break
              }
            }
          }
          self.userProcesses = userProcesses
          self.processesLoaded = true
        })
        .catch(function (res) {
          console.log(res)
        })
    }
  }
}
</script>

<style lang="scss">
.circle {
  height: 225px;
  width: 225px;
  background-color: $secondary-color;
  border-radius: 50%;
  display: inline-block;
  border: 4px solid;
  border-color: white;
  box-shadow: 0 0 0 5px $secondary-color;
}
.circle-content {
  text-align: center;
  color: white;
  font-size: 130px;
  line-height: inherit;
}

.circle-caption {
  color: $primary-color;
  font-size: 50px;
}
.processes.active {
  padding-top: 32px !important;
}

p.no-processes {
  color: #fff;
  font-size: 1.3em;
  font-weight: 100;
  padding-bottom:32px;
  margin-left: 12px;
}
</style>
