<template>
  <busy-indicator v-if="processesLoaded === false" />
  <div class="task cell p-3" v-else-if="processesLoaded === true && tasks.length === 0">
    <h2>You haven't completed any tasks yet.</h2>
  </div>
  <div v-else class="history row no-gap">
    <div class=" stub">
      <ul class="list">
        <li v-for="t in tasks" :key="t.id" class="list-item">
          <router-link :to="{ name: 'history-details', params: { id: t.id } }">
            <!--orderBy:'t.endTime' sortedBy:'t.endTime' -->
              <div class="list-item-header">Title:&nbsp;{{ t.name }}</div>
              <div class="list-item-content2">{{t.deleteReason}}</div>
              <span class="mif-alarm"></span> Ended:  {{ Date.parse(t.endTime) | moment("DD.MM.YYYY HH:mm") }}
              <div class="list-item-content3">
                <span class=""><span class="mif-user"></span> Assignee:  {{ t.assignee }}</span>
              </div>
          </router-link>
        </li>
      </ul>
    </div>

    <history-details />

  </div>
</template>

<script>
import CAS from '@/services/CamundaApiService'
import _ from 'lodash'
import { mapGetters } from 'vuex'
import HistoryDetails from '@/views/HistoryDetails.vue'
import BusyIndicator from '@/views/BusyIndicator.vue'

export default {
  components: {
    HistoryDetails,
    BusyIndicator
  },
  computed: {
    ...mapGetters({
      user: 'getUserData'
    })
  },
  data: function () {
    return {
      tasks: [],
      processesLoaded: false
    }
  },
  mounted () {
    this.getTasksForProcessInstance()
  },
  methods: {
    getTasksForProcessInstance: function () {
      this.getOldTasks()
    },

    getOldTasks: function () {
      let userId = this.user.id
      CAS().get('/history/task?taskAssignee=' + userId + '&finished=true&sortBy=endTime&sortOrder=desc')
        .then((res) => {
          this.tasks = res.data
          this.sortTasks(this.tasks)
          this.processesLoaded = true
        })
        .catch((res) => {
          console.log(res)
        })
    },

    sortTasks: function (tasks) {
      return _.orderBy(tasks, 'endTime', 'asc')
    }
  }
}
</script>

<style lang="scss">

.tasks .list {
    padding-left: auto;
    padding-right: auto;
    width: auto;
  }
  .list-item {
    padding: auto;
    //padding-left:300px ;
  }
.description{
  position: relative;
  top: 50%;
  left: 35%;
  margin-top: 30px;
  margin-bottom: 30px;
}
.list-item-content2 {
  background-color: lightgreen;
}
</style>
