<template>
  <div class="task cell p-3">

    <div v-if="this.task.id">

      <div class="task-info-short">
        <h2 class="task-title">{{task.name}}</h2>

        <div class="task-meta">
          <span v-if="task.deleteReason !== null" class="fg-secondary float-right"><b>Status: </b>{{ task.deleteReason }}</span>
          <span v-else class="fg-secondary"><b>Status Unknown</b></span>
          <span v-if="task.endTime !== null" class="fg-secondary"><b>Completion time: </b>{{ Date.parse(task.endTime) | moment("DD.MM.YYYY HH:mm") }}</span>
          <span v-else class="fg-secondary"><b>None</b></span>
          <br>
          <span v-if="task.due !== null" class="fg-secondary"><b>Due date: </b>{{ Date.parse(task.due) | moment("DD.MM.YYYY") }}</span>
          <span v-else class="fg-secondary"><b>Due date: </b>None</span>
          <span v-if="task.assignee !== null" class="fg-secondary float-right"><b>Assigned to: </b>{{ task.assignee }}</span>
          <span v-else class="fg-secondary float-right"><b>Unassigned Task</b></span>
          <br>
          <span v-if="task.processDefinitionKey !== null" class="fg-secondary"><b>Related process: </b>{{ task.processDefinitionKey }}</span>
          <span v-else class="fg-secondary"><b>Not related to any process</b></span>
          <br>
        </div>
      </div>

      <div class="row">
        <div class="cell-12 cell-lg-8">

          <div v-if="task.description !== null">
            <p><b>Description</b></p>
            <div>
              <p class="p-2">
                {{ task.description }}
              </p>
            </div>
          </div>

        </div>

      </div>
    </div>
    <div v-else>
      <h2>Please select a task from the list of tasks.</h2>
    </div>
  </div>
</template>

<script>
import CAS from '@/services/CamundaApiService'

export default {
  data: function () {
    return {
      task: {}
    }
  },
  watch: {
    $route () {
      this.getTaskDetails()
    }
  },
  created () {
    this.getTaskDetails()
  },

  methods: {

    getTaskDetails: function () {
      if (this.$route.params.id !== undefined) {
        var self = this

        CAS().get('/history/task?taskId=' + this.$route.params.id)
          .then((res) => {
            self.task = res.data[0]
          })
          .catch((res) => {
            console.log(res)
          })
      }
    }
  }
}
</script>

<style lang="scss">
#flex-form {
  .form-group {
    padding-bottom: 20px;
  }
  .form-group + .form-group {
    padding-top: 20px;
    border-top: 1px solid $secondary-color;;
  }
  .green-background {
    background-color: lightgreen !important;
  }
}
</style>
