<template>
  <div class="login-form mx-auto">
    <div class="logo-up mb-8 img-container w-100">
      <img src="/assets/images/workflows_logo.png">
    </div>

    <form class="bg-white p-6 border bd-default win-shadow" @submit.prevent="login">
      <span class="mif-vpn-lock mif-4x place-right" style="margin-top: -10px;"></span>
      <h2 class="text-light">Login</h2>
      <hr class="thin mt-4 mb-4 bg-white">

      <div class="form-group">
        <input
          type="text"
          data-role="input"
          data-prepend="<span class='mif-user'>"
          placeholder="username"
          v-model="email"
        >
      </div>
      <div class="form-group">
        <input
          type="password"
          data-role="input"
          data-prepend="<span class='mif-key'>"
          placeholder="password"
          v-model="password"
        >
      </div>
      <div class="form-group mt-10">
        <input type="checkbox" data-role="checkbox" data-caption="Remember me" class="place-right">
        <button class="button" type="submit">Submit</button>
      </div>
      <!-- <div class="form-group mt-10">
        <button class="button warning bg-darkGreen" type="submit">Login with TUC account</button>
      </div> -->
    </form>
  </div>
</template>

<script>
export default {
  name: 'Login',
  data () {
    return {
      email: '',
      password: ''
    }
  },
  methods: {
    login: function () {
      let email = this.email
      let password = this.password
      let self = this

      this.$store
        .dispatch('login', { email, password })
        .then(function () {
          // console.log('Login success')
          self.$router.push({ name: 'dashboard' })
        })
        .catch(function (err) {
          console.log(err)
          Metro.notify.create('Your login data was not correct.', null, {
            cls: 'alert',
            keepOpen: true
          })
          $('form').addClass('ani-ring')
          setTimeout(() => {
            $('form').removeClass('ani-ring')
          }, 1000)
        })
    }
  }
}
</script>

<style lang="scss">
.login-form {
  width: 350px;
  height: auto;
  top: 15%;
}

.logo-up {
  top: 10%;
  // margin-top: -160px;
}

#nav {
  padding: 30px;
  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
