<template>
  <busy-indicator v-if="processesLoaded === false" />
  <div class="task cell p-3" v-else-if="processesLoaded === true && processes.length === 0">
    <h2>You are currently in no active processes.</h2>
  </div>
  <div v-else class="tasks row no-gap">
    <div class=" stub">
      <ul class="list">
        <li v-for="p in processes" :key="p.id" class="list-item">
          <router-link :to="{ name: 'process-details', params: { id: p.id } }">
            <div class="list-item-header">{{ p.processDefinitionName != null ? p.processDefinitionName : p.processDefinitionKey }}</div>
            <div class="list-item-footer">
              <span class="mif-alarm"></span> Started {{ Date.parse(p.startTime) | moment("DD.MM.YYYY HH:mm") }}
            </div>
          </router-link>
        </li>
      </ul>
    </div>

    <process-details />

  </div>
</template>

<script>
import CAS from '@/services/CamundaApiService'
import BusyIndicator from '@/views/BusyIndicator.vue'
import ProcessDetails from '@/views/ProcessDetails.vue'
import { mapGetters } from 'vuex'

export default {
  data: function () {
    return {
      proc: 0,
      procInfo: {},
      processSelected: false,
      processes: [],
      processesLoaded: false,
      deployedProcesses: []
    }
  },
  components: {
    BusyIndicator,
    ProcessDetails
  },
  computed: {
    ...mapGetters({
      user: 'getUserData'
    })
  },
  mounted: function () {
    // render process list
    this.getActiveProcesses()
    this.getDeployedProcesses()
  },
  methods: {
    // used for rendering the list with active processes
    getActiveProcesses: function () {
      var self = this
      CAS().get('/history/process-instance?unfinished=true&sortBy=startTime&sortOrder=desc')
        .then(async function (res) {
          var processes = res.data
          var userProcesses = []
          for (const process of processes) {
            var id = process.id
            var defId = process.processDefinitionId
            var processDiagrams = await CAS().get('/process-definition/' + defId + '/xml')
            var bpmn = processDiagrams.data.bpmn20Xml
            if (window.DOMParser) {
              var parser = new DOMParser()
              var xmlDoc = parser.parseFromString(bpmn, 'text/xml')
            } else {
              var xmlDoc = new ActiveXObject('Microsoft.XMLDOM')
              xmlDoc.async = false
              xmlDoc.loadXML(bpmn)
            }
            var tasks = xmlDoc.getElementsByTagName('bpmn2:userTask')
            for (const task of tasks) {
              var assignee = task.getAttribute('camunda:assignee')
              if (assignee !== null && assignee.startsWith('${') && assignee.endsWith('}')) {
                var vars = await CAS().get('/process-instance/' + id + '/variables')
                assignee = assignee.substr(2).slice(0, -1)
                if (vars.data.hasOwnProperty(assignee)) {
                  assignee = vars.data[assignee].value
                }
              }
              var userId = self.user.id
              if (assignee === userId) {
              // check the user is assigned to at least one task in the process
                userProcesses.push(process)
                break
              }
            }
          }
          console.log(userProcesses)
          self.processes = userProcesses
          self.processesLoaded = true
        })
        .catch(function (res) {
          console.log(res)
        })
    },

    getDeployedProcesses: function () {
      var self = this
      CAS().get('/process-definition?latestVersion=true')
        .then((res) => {
          self.deployedProcesses = res.data
        })
        .catch((res) => {
          console.log(res)
        })
    },

    postDeployedProcesses: function () {
      var id = window.$('#processlist').val()
      // console.log(id)
      CAS().post('/process-definition/' + id + '/start', {})
        .then((res) => {
          // console.log(res)
          Metro.notify.create('Process successfully started.', null, {
            cls: 'success',
            timeout: 3000
          })
        })
        .catch((err) => {
          console.log(err.response)
        })
    }
  }
}
</script>
