<template>
  <busy-indicator v-if="processesLoaded === false" />

  <div v-else class="task cell p-3">
    <div class="startprocess cell">
      <h2>Start a New Process</h2>
      <br />
      <div v-if="deployedProcesses.length === 0">

        <p>There are currently no processes deployed. You can upload your own processes below.</p>
      </div>

      <div v-else>
        <div class="row">
          <div class="cell-12">
            <label>Select Process</label>

            <select id="processlist" data-role="select">
              <option v-for="p in deployedProcesses" v-bind:value="p.id" :key="p.id">{{ p.name == null ? p.key : p.name }}</option>
            </select>

          </div>
          <br />
          <div class="cell-12">
            <button v-on:click="postDeployedProcesses" class="button success">Start selected process</button>
          </div>
        </div>
      </div>
      <br>
      <p class="divider">
        <span class="or">OR</span>
      </p>
      <br>

      <h2>Upload Your Own BPMN Workflow</h2>
      <br/>

      <div class="uploadbpmn">
        <div class="row">
              <div class="cell-12">

            <form id="uploadForm" role="form">

              <input id="file" type="file" value="uploadbpmn" name="uploadbpmn" accept=".bpmn">
              <span class="mif-info mif-md fg-custom-gray"></span><span class="info-hint"> You may only upload .bpmn files.</span>
            </form>
          </div>
          <div class="cell-12">
            <button v-on:click="uploadBPMNFile" class="button success">Upload BPMN Model</button>

          </div>
        </div>

      </div>
    </div>
  </div>

</template>

<script>
import CAS from '@/services/CamundaApiService'
import BusyIndicator from '@/views/BusyIndicator.vue'

export default {
  data: function () {
    return {
      deployedProcesses: [],
      idDescription: '',
      hint: '',
      processesLoaded: false
    }
  },
  mounted: function () {
    // render process list
    this.getDeployedProcesses()
  },
  watch: {
    proc: function (val) {
      // when selecting a specific process from the list
      this.getProcessInformation(val)
      this.getProcessVariables()
    }
  },
  components: {
    BusyIndicator
  },
  methods: {
    getProcessInformation: function (val) {
      var self = this
      var id = val
      CAS().get('/process-instance/' + id)
        .then(function (res) {
          var definitionId = res.data.definitionId
          // retrieve all the information that should be displayed
          self.getProcessNameAndDescription(definitionId)
          self.getProcessStartDate()
        })
        .catch((err) => {
          console.log(err.response)
        })
    },

    getDeployedProcesses: function () {
      var self = this
      CAS().get('/process-definition?latestVersion=true')
        .then((res) => {
          self.deployedProcesses = res.data
          self.processesLoaded = true
        })
        .catch((res) => {
          console.log(res)
        })
    },

    postDeployedProcesses: function () {
      var self = this
      var id = window.$('#processlist').val()
      // console.log(id);
      CAS().post('/process-definition/' + id + '/start', {})
        .then(() => {
          // console.log(res);
          self.$router.push({ name: 'dashboard' })
          Metro.notify.create('Process successfully started.', null, {
            cls: 'success',
            timeout: 3000
          })
        })
        .catch(() => {
          Metro.notify.create('Start process failed.', null, {
            cls: 'failed',
            timeout: 3000
          })
          // console.log(err.response)
        })
    },

    uploadBPMNFile: function () {
      var self = this
      var formData = new FormData()
      var uploadFile = document.querySelector('#file')
      formData.append('file', uploadFile.files[0])
      CAS().post('/deployment/create', formData, {
        headers: {
          'Content-Type': 'multipart/form-data'
        },
        body: {
          'deployment-name': 'description'
        }
      })
        .then(() => {
          // console.log(res)
          Metro.notify.create('File successfully uploaded.', null, {
            cls: 'success',
            timeout: 3000
          })
          self.$router.push({ name: 'dashboard' })
        })
        .catch(() => {
          self.$router.push({ name: 'process-start' })
          Metro.notify.create('Upload failed.', null, {
            cls: 'failed',
            timeout: 3000
          })
          // console.log(err.response)
        })
    }
  }
}
</script>

<style lang="scss">
#file {
  border: none;
  margin-bottom: 10px;
  margin-top:0px !important;
}
.uploadbpmn {
  margin-bottom: 30px;
}
.idDescription{
  margin-bottom: 15px;
}
input, label.select.dropdown-toggle {
  max-width: 500px;
}
p.divider {
    width: 100%;
    max-width:500px;
    text-align: center;
    border-bottom: 1px solid #555555;
    color: #555555;
    line-height: .1em;
    margin: 20px 0 20px;
    span {
      padding: 0 20px;
      letter-spacing: 3px;
      background-color: #fff;
    }
}
span.fg-custom-gray {
  margin-bottom: 10px;
}
</style>
