<template>
  <div class="task cell p-3">

    <div v-if="this.process.id">

      <div class="task-info-short">
        <h2 class="task-title">{{ process.name != null ? process.name : process.key }}</h2>

        <div class="task-meta startDate">
          <span class="fg-secondary "><b>Process started:</b> {{ Date.parse(process.startDate) | moment("DD.MM.YYYY") }}</span>
        </div>
      </div>

      <div class="row">
        <div class="cell-12">

          <div class="marginBottom" v-if="process.description !== null">
            <h4>Description</h4>
            <div>
              <p class="p-2">
                {{ process.description }}
              </p>
            </div>
          </div>

          <div class="marginBottom" v-else><p>There is no description for this process.</p></div>

          <br/>

          <div v-if="procVars.length !== 0">
            <h4>Process Details</h4>
            <p v-for="info in procVars" :key="info.id" >
              <b>{{ info.label }}</b><br>
              {{ info.value }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div v-else>
      <h2>Please select a process from the list</h2>
        <br/>
    </div>
  </div>
</template>

<script>
import CAS from '@/services/CamundaApiService'

export default {
  data () {
    return {
      process: {},
      procVars: []
    }
  },

  created () {
    this.getProcessDetails()
    this.getProcessVariables()
  },

  watch: {
    $route () {
      this.getProcessDetails()
      this.getProcessVariables()
    }
  },

  methods: {
    // helper method
    generateLabel: function (variableId) {
      var keywords = ['assign', 'proc', 'user', 'group', 'long', 'date']
      var label = ''
      var parts = variableId.split('_')
      // check if it ends with "proc"
      var lastWord = parts[parts.length - 1]
      // only append to label if it's a "process variable"
      if (lastWord === 'proc') {
        parts.forEach(function (word) {
          if (keywords.indexOf(word) === -1) {
            label += word + ' '
          }
        })
      }
      return label
    },

    getProcessDetails: function () {
      if (this.$route.params.id !== undefined) {
        var self = this

        this.process = {
          id: this.$route.params.id
        }

        CAS().get('/process-instance/' + this.$route.params.id)
          .then((res) => {
            // retrieve all the information that should be displayed
            self.getProcessNameAndDescription(res.data.definitionId)
            self.getProcessStartDate()
          })
          .catch((err) => {
            console.log(err.response)
          })
      }
    },

    getProcessNameAndDescription: function (id) {
      var self = this
      CAS().get('/process-definition/' + id)
        .then(function (res) {
          self.$set(self.process, 'key', res.data.key)
          self.$set(self.process, 'name', res.data.name)
          self.$set(self.process, 'description', res.data.description)
        })
        .catch(function (res) {
          console.log(res)
        })
    },

    getProcessStartDate: function () {
      var self = this
      CAS().get('/history/process-instance/' + this.$route.params.id)
        .then(function (res) {
          self.$set(self.process, 'startDate', res.data.startTime.substring(0, 10))
          // console.log(self.procInfo);
        })
        .catch(function (res) {
          console.log(res)
        })
    },

    getProcessVariables: function () {
      console.log('called variables')
      if (this.$route.params.id !== undefined) {
        var self = this
        var processVars = []
        CAS().get('/process-instance/' + this.$route.params.id + '/variables')
          .then((res) => {
            var resObject = res.data
            Object.keys(resObject).forEach(function (key) {
              var label = self.generateLabel(key)
              // console.log(label)
              if (label !== '') {
                var value
                // ignore non-process variables
                key.startsWith('date_') ? value = resObject[key].value.substr(0, 10) : value = resObject[key].value
                var varObj = { id: key, label: label, value: value }
                processVars.push(varObj)
              }
            })
            self.procVars = processVars.slice()
            // console.log(self.procDetails);
          })
          .catch(function (res) {
            console.log(res)
          })
      }
    }
  }
}
</script>

<style lang="scss">
.startDate{
  margin-bottom: 15px;
}
.marginBottom {
  margin-bottom: 20px;
}
</style>
