<template>
  <div class="task cell p-3">

    <div v-if="this.task.id">

      <div class="task-info-short">
        <h2 class="task-title">{{task.name}}</h2>

        <div class="task-meta">
          <span v-if="task.due !== null" class="fg-secondary"><b>Due date: </b>{{ Date.parse(task.due) | moment("DD.MM.YYYY") }}</span>
          <span v-else class="fg-secondary"><b>Due date: </b>None</span>
          <span v-if="task.assignee !== null" class="fg-secondary float-right"><b>Assigned to: </b>{{ task.assignee }}</span>
          <span v-else class="fg-secondary float-right"><b>Unassigned Task</b></span>
        </div>
      </div>

      <div class="row">
        <div class="cell-12 cell-lg-8">

          <div class="marginBottom" v-if="task.description !== null">
            <h4>Description</h4>
            <div>
              <p class="p-2">
                {{ task.description }}
              </p>
            </div>
          </div>

          <h4>User Input</h4>
          <form id="task-form" class="form-group" data-role="validator" action="javascript:" @submit.prevent="completeTask">
            <div v-html="taskform"></div>

            <div v-if="flexActAssign">
              <h5>Flexible Activities</h5>
              <input type="hidden" name="processId" :value="proc.id">
              <div id="flex-form"></div>

              <div class="mt-3 button success square small" v-on:click="addFlexTask($event)">
                <span class="mif-add"></span>
              </div>
            </div>

            <br>

            <button type="submit" class="button success">Complete Task</button>
          </form>
        </div>

        <div class="cell-12 cell-lg-4 process-details">
          <h4>Process details</h4>

          <p v-if="proc.name !== null">
            <b>Related process</b><br/>
            {{ proc.name }}
          </p>

          <p v-for="info in procDetails" :key="info.id" >
            <b>{{ info.label }}</b><br>
            {{ info.value }}
          </p>
        </div>
      </div>
    </div>
    <div v-else>
      <h2>Please select a task from the list of tasks.</h2>
    </div>
  </div>
</template>

<script>
import BuildFormService from '@/services/BuildFormService'
import CAS from '@/services/CamundaApiService'
import { mapGetters } from 'vuex'

export default {
  data: function () {
    return {
      task: {},
      taskform: '',
      proc: {},
      procDetails: [],
      flexTaskCount: 0
    }
  },
  created () {
    this.getTaskDetails()
  },

  computed: {
    flexActAssign () {
      return this.task.taskDefinitionKey.startsWith('flex_act_assign')
    },
    ...mapGetters({
      user: 'getUserData'
    })
  },

  watch: {
    $route () {
      this.getTaskDetails()
    },
    task: function () {
      this.getProcessInformation()
      this.getRenderedTaskFormData()
      this.getProcessVariables()
    }
  },

  methods: {
    addFlexTask: function (e) {
      e.preventDefault()

      this.flexTaskCount++

      var formLine = `
        <div class="form-group">
          <div class="cell-md-12 mt-2 p-0">
            <b>Task</b>
          </div>
          <div class="row">
            <div class="cell-md-6">
                <input type="text" placeholder="name" name="FlexTask${this.flexTaskCount}Name" data-validate="required">
            </div>
            <div class="cell-md-6">
                <input type="text" placeholder="username" name="FlexTask${this.flexTaskCount}User" data-validate="required">
            </div>
            <div class="cell-md-12 mt-2">
              <textarea data-role="textarea" placeholder="description" name="FlexTask${this.flexTaskCount}Description"></textarea>
            </div>
          </div>
        </div>
      `
      $('#flex-form').append(formLine)
    },

    /**
     * Submit form to complete a task. Input will be validated and on success send to camunda server.
     */
    completeTask: function () {
      var isValid = this.validateInput()
      var currentUserId = this.user.id
      var assigneeUserId = this.task.assignee
      var self = this

      if (isValid) {
        // object with all variables as expected by the complete API, see example: https://docs.camunda.org/manual/7.10/reference/rest/task/post-complete/
        var reqBody = { variables: this.getFormInput() }
        if (currentUserId === assigneeUserId) {
          CAS().post('/task/' + this.task.id + '/complete', reqBody)
            .then(function () {
              Metro.notify.create('Task successfully completed.', null, {
                cls: 'success',
                timeout: 5000
              })
              self.$router.go({ name: 'task-index' })
            })
            .catch(function (err) {
              console.log(err.response)
            })
        } else {
          Metro.notify.create('You are not authorized to complete this task.', null, {
            cls: 'failed',
            timeout: 3000
          })
        }
      }
    },

    /**
     * Retrieve all inputs from task form.
     */
    getFormInput: function () {
      var vars = {} // this is sufficient for tasks without variables
      var form = '#task-form'

      // Parse als input from select fields
      $(form + ' select').each(function () {
        vars[$(this).toArray()[0].localName] = { value: $(this).find('option:selected').text() }
      })

      // Parse all input fields
      $(form + ' input').each(function () {
        // Text inputs
        if ($(this).attr('type') === 'text' || $(this).attr('type') === 'hidden') {
          vars[$(this).attr('name')] = { value: $(this).val() }

        // Date inputs
        } else if ($(this).attr('data-role') === 'datepicker') {
          vars[$(this).attr('name')] = { value: new Date($(this).val()) }

        // Number inputs
        } else if ($(this).attr('data-role') === 'number') {
          vars[$(this).attr('name')] = { value: Number($(this).val()) }

        // Checkbox
        } else if ($(this).attr('data-role') === 'checkbox') {
          vars[$(this).attr('name')] = { value: $(this).prop('checked') }
        }
      })

      // Parse textarea input fields
      $(form + ' textarea').each(function () {
        vars[$(this).attr('name')] = { value: $(this).val() }
      })

      return vars
    },

    getProcessInformation: function () {
      var self = this

      if (this.task.processDefinitionId !== undefined) {
        CAS().get('/process-definition/' + this.task.processDefinitionId)
          .then(function (res) {
            // console.log(res.data)
            self.proc = res.data
          })
          .catch(function (res) {
            console.log(res)
          })
      }
    },

    // form-related methods
    getRenderedTaskFormData: function () {
      if (this.task.id !== undefined) {
        var self = this

        CAS().get('/task/' + this.task.id + '/rendered-form')
          .then(async function (res) {
            self.taskform = await BuildFormService.buildForm(res.data)
          })
          .catch(function () {
            self.taskform = ''
          })
      }
    },

    getTaskDetails: function () {
      if (this.$route.params.id !== undefined) {
        var self = this

        CAS().get('/task/' + this.$route.params.id)
          .then((res) => {
            self.task = res.data
          })
          .catch((res) => {
            console.log(res)
          })
      }
    },

    /**
     * Check if the input data from task form is validate.
     */
    validateInput: function () {
      var validator = window.Metro.validator
      var inputs = $('input').toArray()
      var isValid = true
      inputs.forEach(function (input) {
        if (validator.validate(input) === false) isValid = false
      })
      return isValid
    },

    getProcessVariables: function () {
      var self = this
      var processVars = []
      CAS().get('/process-instance/' + self.task.processInstanceId + '/variables')
        .then(function (res) {
          var resObject = res.data
          Object.keys(resObject).forEach(function (key) {
            var label = self.generateLabel(key)
            if (label !== '') {
              var value
              // ignore non-process variables
              key.startsWith('date_') ? value = resObject[key].value.substr(0, 10) : value = resObject[key].value
              console.log(resObject[key].value.substr(0, 10))
              var varObj = { id: key, label: label, value: value }
              processVars.push(varObj)
            }
          })
          self.procDetails = processVars.slice()
        })
        .catch(function (res) {
          console.log(res)
        })
    },

    // helping method
    generateLabel: function (variableId) {
      var keywords = ['assign', 'proc', 'user', 'group', 'long', 'date']
      var label = ''
      var parts = variableId.split('_')
      // check if it ends with "proc"
      var lastWord = parts[parts.length - 1]
      // only append to label if it's a "process variable"
      if (lastWord === 'proc') {
        parts.forEach(function (word) {
          if (keywords.indexOf(word) === -1) {
            label += word + ' '
          }
        })
      }
      return label
    }
  }
}
</script>

<style lang="scss">
#flex-form {
  .form-group {
    padding-bottom: 20px;
  }
  .form-group + .form-group {
    padding-top: 20px;
    border-top: 1px solid $secondary-color;;
  }
}
.marginBottom {
  margin-bottom: 20px;
}
</style>
