<template>
  <busy-indicator v-if="tasksLoaded === false" />
  <div class="task cell p-3" v-else-if="tasksLoaded === true && tasks.length === 0">
    <h2>You currently have no open tasks.</h2>
  </div>
  <div v-else class="tasks row no-gap">
    <div class=" stub">
      <ul class="list">
        <li v-for="t in tasks" :key="t.id" class="list-item">
          <router-link :to="{ name: 'task-details', params: { id: t.id } }">
            <div class="list-item-header">{{ t.name }}</div>
            <div class="list-item-content">{{ t.processName }}</div>
            <div class="list-item-footer">
              <span class="mif-alarm"></span> Created {{ Date.parse(t.created) | moment(" DD.MM.YYYY HH:mm") }}
              <span class="float-right"><span class="mif-user"></span> {{ t.assignee }}</span>
            </div>
          </router-link>
        </li>
      </ul>
    </div>

    <task-details />

  </div>
</template>

<script>
import CAS from '@/services/CamundaApiService'
import BusyIndicator from '@/views/BusyIndicator.vue'
import TaskDetails from '@/views/TaskDetails.vue'
import { mapGetters } from 'vuex'

export default {
  components: {
    BusyIndicator,
    TaskDetails
  },
  computed: {
    ...mapGetters({
      user: 'getUserData'
    })
  },
  data: function () {
    return {
      tasks: [],
      tasksLoaded: false
    }
  },
  mounted () {
    this.getTasksForProcessInstance()
  },
  methods: {
    getTasksForProcessInstance: function () {
      this.getActiveTasks()
    },

    getActiveTasks: async function () {
      let userId = this.user.id
      let groups = await CAS().get('/group?member=' + userId)
      let isSupervisor = false
      let tasks

      for (const group of groups.data) {
        if (group.id === 'Supervisor' || group.id === 'Admin') isSupervisor = true
      }

      if (isSupervisor === true) {
        tasks = await CAS().get('/task?sortBy=created&sortOrder=desc')
      } else {
        tasks = await CAS().get('/task?assignee=' + userId + '&sortBy=created&sortOrder=desc')
      }
      for (const task of tasks.data) {
        if (task.processDefinitionId !== null) {
          let processForTask = await CAS().get('/process-definition/' + task.processDefinitionId)
          let processName = processForTask.data.name
          if (processName === null) processName = processForTask.data.key
          task.processName = processName
        } else {
          let caseInst = await CAS().get('/case-instance/' + task.caseInstanceId + '/variables')

          if (caseInst.data.processId !== undefined) {
            let processForTask = await CAS().get('/process-definition/' + caseInst.data.processId.value)
            let processName = processForTask.data.name
            if (processName === null) processName = processForTask.data.key
            task.processName = processName
          }
        }
      }
      this.tasks = tasks.data
      this.tasksLoaded = true
    }
  }
}
</script>

<style lang="scss">

.task {
  .process-details {
    border-left: 1px solid lightgrey;
  }

  .task-title {
    padding-bottom: 10px;
  }
  .task-info-short {
    border-bottom: 1px solid lightgrey;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
}

</style>
