<template>
  <busy-indicator v-if="processesLoaded === false" />
  <div v-else class="task cell p-3">
    <div class="usercreate cell">
            <h2>Create a new User</h2>
<br/>
    <div class="row no-gap">
      <div class="changepassword cell">
            <div class="cell-12 cell-lg-12">

              <form id="createNewUser" role="form">
                <label for="newUserSurname">First Name:</label>
                <input  type="text"
                        id="newUserSurname"
                        name="newUserSurname"
                        placeholder="First name of the new user"
                        v-model="newUserSurname"
                        >
              <label for="newUserLastName">Surname:</label>
              <input  type="text"
                        id="newUserLastName"
                        name="newUserLastName"
                        placeholder="Last name of the new user"
                        v-model="newUserLastName"
                        >
            <label for="newUserEmail">Email Address:</label>
            <input  type="email"
                        id="newUserEmail"
                        name="newUserEmail"
                        placeholder="Email address of the new user"
                        v-model="newUserEmail"
                        >
            <label for="newUserId">Username:</label>
            <input  type="text"
                        id="newUserId"
                        name="newUserId"
                        placeholder="Username of the new user"
                        v-model="newUserId"
                        >
              <span class="mif-info mif-lg fg-custom-gray"></span><span class="info-hint">The user logs in with this unique username. If possible, use the student's TU Chemnitz abbreviation.</span>
              <br>
              <label for="newUserPassword">Password:</label>
              <input  type="password"
                        id="newUserPassword"
                        name="newUserPassword"
                        placeholder="The password of the new user"
                        v-model="newUserPassword"
                        >
              <span class="mif-info mif-lg fg-custom-gray"></span><span class="info-hint">Please tell new users that they need to change the password by their own.</span>
              <br>
              <label for="grouplist">User Group:</label>
              <select id="grouplist" data-role="select">
                <option v-for="g in deployedGroups" v-bind:value="g.id" :key="g.id">{{ g.id == null ? g.key : g.id }}</option>
              </select>
               <span class="mif-info mif-lg fg-custom-gray"></span><span class="info-hint">Please select a group for the new user</span>
              </form>

            </div>
            <div class="cell-12 cell-lg-12 buttonchange">
              <button v-on:click="createNewUser" class="button success">Create User  </button>
            <br>
            </div>
            <br/>
            <p class="divider">
              <span class="or">OR</span>
            </p>
            <br/>
            <h2>Create a new Group</h2>
            <br/>
            <div class="cell-12 cell-lg-12">

              <form id="createNewGroup" role="form">
                <label for="newGroupName">Group Name:</label>
                <input  type="text"
                        id="newGroupName"
                        name="newGroupName"
                        placeholder="Name of the new group"
                        v-model="newGroupName"
                        >
              </form>
            </div>
            <div class="cell-12 cell-lg-12 buttonchange">
              <button v-on:click="createNewGroup" class="button success">Create Group</button>
            <br>
            </div>
      </div>
    </div>
    </div>
  </div>

</template>

<script>
import CAS from '@/services/CamundaApiService'
import { mapGetters } from 'vuex'
import BusyIndicator from '@/views/BusyIndicator.vue'

export default {
  data: function () {
    return {
      newGroupName: '',
      newUserSurname: '',
      newUserLastName: '',
      newUserEmail: '',
      newUserId: '',
      newUserPassword: '',
      newUserGroup: '',
      processesLoaded: false,
      deployedGroups: []
    }
  },
  computed: {
    ...mapGetters({
      user: 'getUserData'
    })
  },
  components: {
    BusyIndicator
  },
  mounted: function () {
    this.getDeployedGroups()
  },
  methods: {
    getDeployedGroups: function () {
      var self = this
      CAS().get('/group')
        .then((res) => {
          self.deployedGroups = res.data
          self.processesLoaded = true
        })
        .catch((res) => {
          console.log(res)
        })
    },
    createNewUser: function () {
      var self = this
      var id = this.newUserId
      var firstName = this.newUserSurname
      var lastName = this.newUserLastName
      var email = this.newUserEmail
      var password = this.newUserPassword
      CAS().post('/user/create',
        {
          profile: {
            id: id,
            firstName: firstName,
            lastName: lastName,
            email: email
          },
          credentials: {
            password: password
          }
        })
        .then(function (res) {
          self.createGroupMember()
          // console.log(res);
          if (res.status === 204) {
            self.$router.push({ name: 'dashboard' })
            Metro.notify.create('User created successfully.', null, {
              cls: 'success',
              timeout: 3000
            })
          } else if (res.data.message === 'The user already exists') {
            Metro.notify.create('User already exist.', null, {
              cls: 'failed',
              timeout: 3000
            })
          } else {
            Metro.notify.create('User creation failed.', null, {
              cls: 'alert',
              timeout: 3000
            })
          }
        }
        )
        .catch((err) => {
          console.log(err.response)
          Metro.notify.create('User creation failed.', null, {
            cls: 'alert',
            timeout: 3000
          })
        })
    },

    createGroupMember: function () {
      var groupId = window.$('#grouplist').val()
      var userId = this.newUserId
      CAS().put('/group/' + groupId + '/members/' + userId)
        .then(function (res) {
          // console.log(res);
          if (res.status === 204) {
            Metro.notify.create('User group assignment successfully.', null, {
              cls: 'success',
              timeout: 3000
            })
            return this.res.data
          }
        })
        .catch(() => {
          //  console.log(err.response)
          // Metro.notify.create("User group assignment failed.", null, {
          // cls: "failed",
          // timeout: 1000
          // });
        })
    },

    createNewGroup: function () {
      var self = this
      var id = this.newGroupName
      var name = this.newGroupName
      var organizationUnit = 'MOARE Workflows'
      CAS().post('/group/create', { id: id, name: name, type: organizationUnit })
        .then((res) => {
          Metro.notify.create('Group successfully created.', null, {
            cls: 'success',
            timeout: 3000
          })
          self.$router.push({ name: 'dashboard' })
        })
        .catch((err) => {
          console.log(err.response)
          Metro.notify.create('Group could not be created', null, {
            cls: 'alert',
            timeout: 3000
          })
        })
    }
  }
}
</script>

<style lang="scss">
input[type="text"], input[type="email"], input[type="password"]  {
  display: block;
  margin-bottom: 10px;
  margin-bottom: 10px;
}
.mif-info {
  margin-bottom: 10px;
}
.buttonchange {
  margin-top: 10px;
  margin-bottom: 10px;
}

input, label.select.dropdown-toggle {
  max-width: 500px;
}
p.divider {
    width: 100%;
    max-width:500px;
    text-align: center;
    border-bottom: 1px solid #555555;
    color: #555555;
    line-height: .1em;
    margin: 20px 0 20px;
    span {
      padding: 0 20px;
      letter-spacing: 3px;
      background-color: #fff;
    }
}

</style>
