.list {
  list-style: none;
  margin: 0px;
  width: 300px;

  .list-item {
    border-left: 3px solid transparent;
    border-top: 1px solid lightgrey;
    padding: 8px;
    border-right: 3px solid $secondary-color;

    &:hover {
      border-right: 3px solid $primary-color;
    }
    &.active {
      border-right: 3px solid transparent;
    }
    a {
      color: $primary-color;

      &:hover {
        text-decoration: none;
      }
    }
    .list-item-header {
      font-weight: 500;
      font-size: 1.2rem;
      margin-bottom: 5px;
    }

    .list-item-content {
      font-size: 0.9rem;
      margin-bottom: 5px;
    }

    .list-item-footer {
      font-size: 0.7rem;
    }
  }
}

@media screen and (max-width: 992px) {
.list {
    width: 100vw;
}
}
  