@import "variables";
@import "sidebar-list";

html,
body {
   margin: 0;
   padding: 0;
   height: 100%;
}
#main-content {
   min-height: 100%;
   position: relative;
   padding-bottom: 48px;
}

footer {
   margin-top: -48px;
   height: 48px;   /* Height of the footer */
}

.stub ul.list {
    margin-bottom: 48px;
}

.navview {
    .navview-content {
        margin-bottom: 0px;
    }
}
a:hover.no-decoration {
    text-decoration: none;
}

.bg-primary {
    background-color: $primary-color;
}
.bg-secondary {
    background-color: $secondary-color;
}
.bg-invert {
    background-color: #ffffff;
}

.fg-primary {
    color: $primary-color;
}
.fg-secondary {
    color: $secondary-color;
}
.fg-invert {
    color: #ffffff;
}
button {
    border-radius: 2px;
}
.button.success {
    background-color: $secondary-color;
    outline-color: #ffae76;
    height: auto;
    /*padding: 8px 30px;*/
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: 0.8px;
    font-weight: 600;

    &:hover {
        background-color: #f16200;
        border-color: #f16200;
    }
}
label {
    font-weight: 600;
}
.select .d-menu li a {
    font-weight: 400;
}
.select-input {
    font-weight: 400;
}
span.caption {
    font-size: 1em !important;
}
.input .autocomplete-list {
    background-color: #eeeeee;
}
.list-item {
    width:300px;
}

.card-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}
.info-hint {
    font-size: 0.9em;
    margin-left: 10px;
    color: #555555;
}
.fg-custom-gray {
    color: #555555;
    margin-left: 0.75rem;
}

@media (max-width: 991px) { 
    .list-item {
        width:100%;
    }
 }