<template>
  <div class="h-vh-100" id="container">
    <div id="navbar" data-role="appbar" data-expand-point="md" class="bg-dark fg-white">
      <button type="button" class="app-bar-item" v-on:click="expand_sidebar">
        <span class="mif-menu fg-white mif-3x"></span>
      </button>
      <router-link :to="{name: 'dashboard'}" class="mx-auto brand no-hover">
        <img class="h-100" src="/assets/images/workflows_logo.png">
      </router-link>

      <div class="app-bar-container">
        <a href="#" class="app-bar-item dropdown-toggle">
          <span class="mif-user fg-white mif-3x"></span>
          <span class="pl-2 d-none d-block-lg">{{ user.first_name }} {{ user.last_name }} </span>

          <span class="d-none d-block-lg" v-if="groupForDetails.length >0">&nbsp;({{ groupForDetails }})</span>
          <span class="d-none d-block-lg" v-else>&nbsp;(No Group)</span>

          <span class="mif-arrow-drop-down"></span>
        </a>
        <ul class="app-bar-menu-right d-menu fg-white" data-role="dropdown">
          <li>
            <a class="icon place-right" @click="changePassword">Change Password <span class="mif-user-secret "></span></a>
          </li>
          <li>
            <a class="icon place-right" @click="logout">Logout <span class="mif-arrow-right  "></span></a>
          </li>
        </ul>
      </div>
    </div>

    <div
      id="sidebar"
      data-role="navview"
      data-compact="fs"
      data-expanded="fs"
      class="wf-sidebar pt-13"
    >
      <nav class="navview-pane mt-13 fg-white">
          <ul class="navview-menu">
              <li v-bind:class="{ 'navview-link-active': isCurrentRoute('dashboard') }">
                  <router-link :to="{ name: 'dashboard' }" class="navview-menu-link">
                      <span class="sb-icon">
                          <span class="mif-chart-dots mif-3x"></span>
                      </span>
                      <span class="caption">Dashboard</span>
                  </router-link>
              </li>

              <li class="pos-relative" v-bind:class="{ 'navview-link-active': isCurrentRoute('task') }">
                  <router-link :to="{ name: 'task-index' }" class="navview-menu-link">
                      <span class="sb-icon">
                          <span class="mif-clipboard mif-3x"></span>
                      </span>
                      <span class="caption">Tasks</span>
                  </router-link>
                  <!--sidebar task for the WHOLE NAV!
                  <nav class="horizontal-menu">
                  <ul>
                    <li>
                      <span class="dropdown-toggle" v-on:click="expand_currentTasks">
                        <span class="mif-arrow-down mif-lg "></span><span class=""> Current Tasks</span>
                      </span>
                      <ul class="dropdown-menu" data-role="dropdown">
                        <li v-for="t in tasks" :key="t.id" class="list-item float-right dropdown-menu2" id="expand_currentTasks">
                          <router-link :to="{ name: 'task-details', params: { id: t.id } }">
                            <span class="arrow-right"></span>
                            <div class="list-item-header">Task name:&nbsp;{{ t.name }}</div>
                            <hr class="hr">
                          </router-link>
                      </ul>
                    </li>
                  </ul>
                </nav> -->
              </li>

              <li v-bind:class="{ 'navview-link-active': isCurrentRoute('process') }">
                  <router-link :to="{ name: 'process-index' }" class="navview-menu-link">
                      <span class="sb-icon">
                          <span class="mif-cogs mif-3x"></span>
                      </span>
                      <span class="caption">Processes</span>
                  </router-link>
              </li>

              <li v-if="!!isAuthenticatedUserForTab" v-bind:class="{ 'navview-link-active': isCurrentRoute('process-start') }">
                  <router-link :to="{ name: 'process-start' }" class="navview-menu-link">
                      <span class="sb-icon">
                          <span class="mif-cog mif-3x"></span>
                      </span>
                      <span class="caption">Start Process</span>
                  </router-link>
              </li>

              <li v-bind:class="{ 'navview-link-active': isCurrentRoute('history') }">
                  <router-link :to="{ name: 'history-index' }" class="navview-menu-link">
                      <span class="sb-icon">
                          <span class="mif-history mif-3x"></span>
                      </span>
                      <span class="caption">History</span>
                  </router-link>
              </li>

             <li v-if="!!isAuthenticatedUserForTab" v-bind:class="{ 'navview-link-active': isCurrentRoute('user-create') }">
                  <router-link :to="{ name: 'user-create' }" class="navview-menu-link">
                      <span class="sb-icon">
                          <span class="mif-user-plus mif-3x"></span>
                      </span>
                      <span class="caption">Create User</span>
                  </router-link>
              </li>          </ul>
      </nav>
      <div class="navview-content">
        <div id="main-content">
          <slot/>
        </div>

        <footer class="bg-secondary navview-footer">
          <div class="fg-invert text-center">
            <p>
              <b>MOARE WORKFLOWS</b> &copy; 2018-2019
              <br>by
              <a href="https://moare.eu/" class="no-wrap moareFooterText">MOARE</a>
            </p>
          </div>
        </footer>
      </div>
    </div>
  </div>
</template>

<script>
import CAS from '@/services/CamundaApiService'
import { mapGetters } from 'vuex'
import _ from 'lodash'
// import TaskDetails from '@/views/TaskDetails.vue';

export default {
  name: 'dashboard',
  data: function () {
    return {
      isAuthenticatedUserForTab: undefined,
      group: [],
      groupForDetails: '',
      tasks: []
    }
  },
  computed: {
    ...mapGetters({
      user: 'getUserData'
    })
  },
  mounted: function () {
    this.isAuthenticatedUserForTabFunction()
    this.getActiveTasks()
  },
  methods: {
    expand_sidebar: function () {
      if ($('#sidebar').hasClass('compacted')) {
        $('#sidebar').removeClass('compacted')
      } else {
        $('#sidebar').addClass('compacted')
      }
    },
    expand_currentTasks: function () {
      if ($('#expand_currentTasks').hasClass('h-25')) {
        $('#expand_currentTasks').removeClass('h-25')
      } else {
        $('#expand_currentTasks').addClass('h-25')
      }
    },
    isCurrentRoute: function (menu) {
      return 'menu' in this.$route.meta && this.$route.meta.menu === menu
    },
    logout: function () {
      this.$store.dispatch('logout').then(() => {
        this.$router.push({ name: 'login' })
      })
    },
    changePassword: function () {
      this.$router.push({ name: 'user-password-change' })
    },

    isAuthenticatedUserForTabFunction: function () {
      let self = this
      let loginUserId = this.user.id
      let groupIdForChecking = 'Supervisor'
      let groupIdForChecking2 = 'Administrator'
      CAS().get('/identity/groups?userId=' + loginUserId)
        .then((res) => {
          this.group = res.data.groups
          this.groupForDetails = res.data.groups[0].name
          // const isAuthenticatedUserForTab = _.has(res.data.groups, groupIdForChecking);
          var find = _.find(res.data.groups, ['id', groupIdForChecking])
          var find2 = _.find(res.data.groups, ['id', groupIdForChecking2])
          if (find === undefined && find2 === undefined) {
            self.isAuthenticatedUserForTab = false
          } else if (find.name === groupIdForChecking || find2.name === groupIdForChecking2) {
            self.isAuthenticatedUserForTab = true
          } else {
            self.isAuthenticatedUserForTab = false
          }
        })
        .catch((res) => {
          console.log(res)
        })
    },
    getActiveTasks: async function () {
      let userId = this.user.id
      let tasks = await CAS().get('/task?assignee=' + userId + '&sortBy=created&sortOrder=desc')
      for (const task of tasks.data) {
        if (task.processDefinitionId !== null) {
          let processForTask = await CAS().get('/process-definition/' + task.processDefinitionId)
          // console.log(processForTask);
          let processName = processForTask.data.name
          if (processName === null) processName = processForTask.data.key
          task.processName = processName
        }
      }
      this.tasks = tasks.data
    }
  }
}
</script>

<style lang="scss">
.app-bar .brand {
  padding: 0;
}

#navbar {
  .app-bar-item {
    cursor: pointer;
    padding-right: 16px !important;
  }

  .app-bar-menu-right {
    right: 0;
    background-color: rgba(32, 31, 29, 0.9) !important;

    li > a {
      width: 100%;
      text-align: right;
    }
  }
}

.navview-menu-link {
  min-height: 60px !important;
}

.sb-icon {
  width: 60px;
  text-align: center;
}

.float-right {
  margin-right: 10px;
}

.navview {
  overflow: inherit;

  &.compacted {
    .navview-content {
      margin-left: 60px !important;
    }
    .navview-pane {
      width: 60px !important;
    }
  }

  .holder:hover,
  .navview-menu li a:hover,
  .pull-button:hover {
    background-color: $primary-color;
    width: 100%;
  }

  .navview-content {
    height: calc(100vh - 100px);
    margin-bottom: 48px;
    margin-left: 200px !important;
  }

  .navview-footer a {
    color: $primary-color;
  }

  .navview-menu {
    background-color: #353433;
    .caption {
      padding-left: 10px;
    }

    li a:focus {
      border: none;
    }
  }

  .navview-link-active {
    border-left: 3px solid $secondary-color;
  }
  .navview-pane {
    background-color: rgba(32, 31, 29, 0.9) !important;
    position: fixed;
    width: 200px !important;
  }
}

@media screen and (max-width: 992px) {
  .navview {
    &.compacted {
      .navview-pane {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
      }

      .navview-content,
      .navview-footer {
        margin-left: 0px !important;
      }
    }

    .navview-content {
      margin-left: 0px !important;
    }
  }
  .navview-footer a {
    color: white !important;
  }
  .info-alert{
    color: white !important;
  }
  .hr {
    background: white;
    border: none;
    color: white;
    height: 3px;
    width: 100%;
  }
  .dropdown-menu2{
    border-bottom: 3px solid white;
    display:  inline-block;
  }
  .h-10{
    height: 20%!important;
  }
  .navview .navview-menu li a {
    display:inline-flex !important;
  }
}
</style>
